@charset "utf-8";

body {
	font-family: 'Ysabeau', sans-serif;
	overflow-x: hidden;
}
.container-fluid .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(135deg,rgba(46,175,125,1.00) 0%,rgba(63,208,201,1.00) 100%);
    background-image: -moz-linear-gradient(135deg,rgba(46,175,125,1.00) 0%,rgba(63,208,201,1.00) 100%);
    background-image: -o-linear-gradient(135deg,rgba(46,175,125,1.00) 0%,rgba(63,208,201,1.00) 100%);
    background-image: linear-gradient(315deg,rgba(46,175,125,1.00) 0.00%,rgba(63,208,201,1.00) 100%);
}

.nav-item {
	font-family: 'Ysabeau SC', sans-serif;
	font-size: 1.2em;
}

.navbar-nav.mr-auto .nav-item .nav-link {
    color: rgba(0,0,0,1.00);
}

.navbar-nav.mr-auto .nav-item .nav-link:hover {
	color: rgba(110,115,114,1.00);
	transition: color 300ms ease;
}


h2, h3, h4 {
	text-transform: uppercase;
	font-family: 'Ysabeau', sans-serif;
}

footer {
    background-image: -webkit-linear-gradient(315deg,rgba(46,175,125,1.00) 0%,rgba(63,208,201,1.00) 99.31%);
    background-image: -moz-linear-gradient(315deg,rgba(46,175,125,1.00) 0%,rgba(63,208,201,1.00) 99.31%);
    background-image: -o-linear-gradient(315deg,rgba(46,175,125,1.00) 0%,rgba(63,208,201,1.00) 99.31%);
    background-image: linear-gradient(135deg,rgba(46,175,125,1.00) 0%,rgba(63,208,201,1.00) 99.31%);
}

.footer-link {
	color: rgba(0,0,0,1.00);
}

.footer-link:hover{
	transition: color 300ms ease;
	color: rgba(110,115,114,1.00);
	text-decoration: none;
}
.copyright-info {
	font-size: 0.7em;
	padding-bottom: 5px;
}



/* CSS for the home page */
.video {
	text-align: center;
	width: auto;
	height: 400px;
	background: rgba(0,0,0,0.77);
}

.zoom {
	margin: 20px;
	width: 300px;
	height: auto; 
	transition: transform 0.5s ease; 
}

.zoom:hover {
	transform: scale(1.2);
}



/*CSS for the About Us page*/
.tcard{
 	box-shadow: 0vh 0.5vw 1.11vh 0vw rgba(0,0,0,0.2);
        width: 20%;
}
.team{
        padding:8%;
	transition: transform 0.5s ease;
}
.team:hover{
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	 transform: scale(1.1); 
}
td{
	text-align: center;
}
.members{
	background:#C3EFEA;
	color:#000000;
	position:relative;
	border-radius:10px;
	padding: 2%;
	height: 100%;
	width:100%;
}
.mem{
	background:#C3EFEA;
	border-radius: 10px;
	height: 100%;
	width:100%;
}
.nsbm{
	padding: 2%;
	text-align:justify;
}
.uni{
	background:#65B6B4;
	color:#000000;
	position: relative;
	border-radius: 10px;
	padding: 2%;
	height: 100%;
	width:100%;
}
.desc{
	background: #FFFFFF;
	border-radius: 10px;
	height: 100%;
}
.pic {
	transition: opacity 0.5s ease;
}
.pic:hover{
	opacity: 0.5;
}
.abt{
	background: #FFFFFF;
	border-radius: 10px;
	height: 100%;
}
.abt-us{
	background:#65B6B4;
	color:#000000;
	position: relative;
	border-radius: 10px;
	padding: 2%;
	height: 100%;
	width:100%;
}



/*CSS for the Contact Us page*/
.cUs{
	 position:relative;
         text-align:center;
         color:white;
}
.centered {
         position: absolute;
 	 top: 50%;
 	 left: 50%;
 	 transform: translate(-50%, -50%);
  	 font-size:12vh;
}
.contact{
	background:#65B6B4;
	color:#000000;
	position: relative;
	border-radius: 3vh;
	padding: 3vh 4vw;
	height:100%;
	width:80%;
}
.contact .input{
	border-radius:20px;
	padding:1.3vh 4vw 1.3vh 2.5vw;
	border: 0 solid #fff;
	resize: none;
}
.contact input:focus {
	background-color: #D0E7D2;
}
.contact textarea:focus {
        background-color: #D0E7D2;
}
.contact .button:active {
	background-color: #65B6B4;
	box-shadow: 0vw 0.6vh #666;
        transform: translateY(0.4vh);
}
.contact input[type=submit]:hover {
 	background-color: #A2CDCD;
}
.contact input[type=reset]:hover {
	background-color: #A2CDCD;
}
.contact #submit{
	width:65%;
	box-shadow: 1vh 0.5vw;
}
.contact #reset{
	width:65%;
	box-shadow: 1vh 0.5vw;
}
