@charset "utf-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
}

.container-fluid .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(135deg,rgba(46,175,125,1.00) 0%,rgba(63,208,201,1.00) 100%);
    background-image: -moz-linear-gradient(135deg,rgba(46,175,125,1.00) 0%,rgba(63,208,201,1.00) 100%);
    background-image: -o-linear-gradient(135deg,rgba(46,175,125,1.00) 0%,rgba(63,208,201,1.00) 100%);
    background-image: linear-gradient(315deg,rgba(46,175,125,1.00) 0.00%,rgba(63,208,201,1.00) 100%);
}

.nav-item {
	font-family: 'Ysabeau SC', sans-serif;
	font-size: 1.2em;
}

.navbar-nav.mr-auto .nav-item .nav-link {
    color: rgba(0,0,0,1.00);
}

.navbar-nav.mr-auto .nav-item .nav-link:hover {
	color: rgba(110,115,114,1.00);
	transition: color 300ms ease;
}


h2, h3, h4 {
	text-transform: uppercase;
	font-family: 'Ysabeau', sans-serif;
}

footer {
    background-image: -webkit-linear-gradient(315deg,rgba(46,175,125,1.00) 0%,rgba(63,208,201,1.00) 99.31%);
    background-image: -moz-linear-gradient(315deg,rgba(46,175,125,1.00) 0%,rgba(63,208,201,1.00) 99.31%);
    background-image: -o-linear-gradient(315deg,rgba(46,175,125,1.00) 0%,rgba(63,208,201,1.00) 99.31%);
    background-image: linear-gradient(135deg,rgba(46,175,125,1.00) 0%,rgba(63,208,201,1.00) 99.31%);
}

.footer-link {
	color: rgba(0,0,0,1.00);
}

.footer-link:hover{
	transition: color 300ms ease;
	color: rgba(110,115,114,1.00);
	text-decoration: none;
}
.copyright-info {
	font-size: 0.7em;
	padding-bottom: 5px;
}



/* CSS for the home page */
.video {
	text-align: center;
	width: auto;
	height: 400px;
	background: rgba(0,0,0,0.77);
}

.zoom {
	margin: 20px;
	width: 300px;
	height: auto; 
	transition: transform 0.5s ease; 
}

.zoom:hover {
	transform: scale(1.2);
}

/*CSS for the Tour Packages page*/

.tp_gallery{
  display: flex;
  margin: auto;
	width: 95%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.tp_button {
  border-radius: 4px;
  background-color:#60D2B8;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 97%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.tp_button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.tp_button span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.tp_button:hover span {
  padding-right: 25px;
}
.tp_button:hover span::after {
  opacity: 1;
  right: 0;
}

figure{
  width: 300px;
  margin: 8px 0;
  border: 1px solid #777;
  padding: 8px;
  box-sizing: border-box;
  background-color: #fff;
}
figure img{
  width: 100%;
}
figure figcaption{
  text-align: center;
  padding: 8px 4px;
}

figure a, figure a:hover, figure a:focus, figure a:active, figure a:visited {
	text-decoration: none;
color: #FFF;
}
.tp_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}
p1 {
  font-size: 30px;
	color:#60D2b8;	
}

.tp_container {
  position: relative;
  max-width: 300px;
}

.overlay {
  position: absolute; 
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 8px;
  color: #f1f1f1; 
  width: 100%;
  transition: .2s ease;
  opacity:0;
  color: white;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

.tp_container:hover .overlay {
  opacity: 1;
}


/*CSS for the About Us page*/
.tcard{
 	box-shadow: 0vh 0.5vw 1.11vh 0vw rgba(0,0,0,0.2);
     width: 20%;
}
.team{
     padding:8%;
	transition: transform 0.5s ease;
}
.team:hover{
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	 transform: scale(1.1); 
}
td{
	text-align: center;
}
.members{
	background:#C3EFEA;
	color:#000000;
	position:relative;
	border-radius:10px;
	padding: 2%;
	height: 100%;
	width:100%;
}
.mem{
	background:#C3EFEA;
	border-radius: 10px;
	height: 100%;
	width:100%;
}
.nsbm{
	padding: 2%;
	text-align:justify;
}
.uni{
	background:#65B6B4;
	color:#000000;
	position: relative;
	border-radius: 10px;
	padding: 2%;
	height: 100%;
	width:100%;
}
.desc{
	background: #FFFFFF;
	border-radius: 10px;
	height: 100%;
}
.pic {
	transition: opacity 0.5s ease;
}
.pic:hover{
	opacity: 0.5;
}
.abt{
	background: #FFFFFF;
	border-radius: 10px;
	height: 100%;
}
.abt-us{
	background:#65B6B4;
	color:#000000;
	position: relative;
	border-radius: 10px;
	padding: 2%;
	height: 100%;
	width:100%;
}
.cUs{
	 position:relative;
     text-align:center;
     color:white;
}


/*CSS for the Contact Us page*/
.centered {
         position: absolute;
 	 top: 50%;
 	 left: 50%;
 	 transform: translate(-50%, -50%);
  	 font-size:12vh;
}
.contact{
	background:#65B6B4;
	color:#000000;
	position: relative;
	border-radius: 3vh;
	padding: 3vh 4vw;
	height:100%;
	width:80%;
}
.contact .input{
	border-radius:20px;
	padding:1.3vh 4vw 1.3vh 2.5vw;
	border: 0 solid #fff;
	resize: none;
	width: 80%; 
}
.contact input:focus {
	background-color: #D0E7D2;
}
.contact textarea:focus {
        background-color: #D0E7D2;
}
.contact .button:active {
	background-color: #65B6B4;
	box-shadow: 0vw 0.6vh #666;
        transform: translateY(0.4vh);
}
.contact input[type=submit]:hover {
 	background-color: #A2CDCD;
}
.contact input[type=reset]:hover {
	background-color: #A2CDCD;
}
.contact #submit{
	width:65%;
	box-shadow: 1vh 0.5vw;
}
.contact #reset{
	width:65%;
	box-shadow: 1vh 0.5vw;
}
